#control-box {
    position: fixed;
    left: 0;
    top: 0;
    width: 1em;
    background-color: lightblue;
}
#control-box::before {
    content: "⚙";
}
#controls {
    background-color: lightblue;
    opacity: 0;
    transition: opacity 1s;
    width: auto;
    display: inline-block;
    margin: 0;
    padding-left: 1em;
}
#controls:hover {
    opacity: 1;
}
#controls input[type="range"]::after {
    content: attr(value);
}
div#content {
    align-items: center;
    flex-direction: column;
    display: flex;
}
section#target {
    display: flex;
    width: 30em;
    flex-direction: column;
}

section#target > loom-line {
    height: 1em;
    flex-direction: row;
    display: flex;
}

loom-word {
    text-align: right;
}
