div#controls {
    display: flex;
    flex-direction: column;
    width: 10em;
}
div#controls input[type="range"]::after {
    content: attr(value);
}
div#content {
    align-items: center;
    flex-direction: column;
    display: flex;
}
section#target {
    display: flex;
    width: 30em;
}

line {
    display: block;
    position: absolute;
}

line > span {
    position: absolute;
}

